html {
    overflow-y: scroll;
}
body {
    padding-top: 50px;
}

.transparent .jumbotron {
    background: transparent !important;
}

.color-primary {
    color: #3E8ACC !important;
}

.btn {
    padding: 12px 42px !important;
    background: white !important;
    border: 1px solid lightgray !important;
}